<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
      Ara Lestari Press
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/uploads/style.css' | relative_url }}">
  <link rel="icon" type="image/png" href="https://melatinusantara.github.io/publishingCandraNaya/assets/images/favicon.png">
</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
